.div-grafica-containersa{
    display: flex;
    margin-top: 40px;
    justify-content: space-between;
    flex-wrap: wrap;
}
.div-graficaana{
    width: 45%;
    background-color: white;
    border-radius: 10px;
    font-weight: bold;
    height: 400px;
    flex-wrap: wrap;
    display: flex;
    min-width: 300px;
}
@media (max-width: 680px) {
    .div-graficaana {
        display: flex;
        width: 100%;
        justify-content: space-between;
        align-items: center;
    }
}
.div-grafica-tituloa{
    height: 80%;
    padding: 10px;
    width: 100%;
}
.div-grafica-calor{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}