*:root{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: crossten;
}

@font-face {
  font-family: crossten;
  src: local('crossten'), url('https://main.d3j5ecbcieka8l.amplifyapp.com/crossten_extralight.ttf') format('truetype');
}

@font-face {
  font-family: crossten2;
  src: local('crossten2'), url('/Crossten-ExtraBold.ttf') format('truetype');
}


