*:root{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: crossten;
}

@font-face {
  font-family: crossten;
  src: url('../Styles/crossten_extralight.ttf');
}

@font-face {
  font-family: crossten2;
  src: url('../Styles/Crossten-ExtraBold.ttf');
}

