.container-botones{
    width: 100%;
    justify-content: space-between;
}
.botones-nav{
    width: 30%;
}
.tabladato2{
    width: 25%;
}
.tabla2{
    width: 100%;
    display: block;
    font-weight: bold;
}
.tablain2{
    width: 100%;
    display: flex;
}

.barrain{
    display: flex;
    width: 100%;
    padding: 12px;
    justify-content: space-between;
}
.barrain-boton2{
    width: 20%;
    padding: 10px;
    border-radius: 5px;
    font-weight: bold;
    text-decoration: none;
    cursor: pointer;
    border: none;
}
.barrain-boton2:hover{
    background-color: #e0e0e0;
}