.fondo-dashboard{
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-wrap: wrap;
}
.dashboard-titulo{
    margin-top: 10px;
    font-size: 40px;
    color: white;
    font-weight: bold;
}
.container-dashboard{
    width: 100%;
    padding: 5%;
    background: linear-gradient(#0053B1, #52BEDA);
}
.container-fecha{
    width: 100%;
    height: 4%;
    margin-top: -49.9px;
    
    flex-wrap: wrap;
    display: flex;
    justify-content: flex-end;
}
.container-fecha-dentro{
    width: 40%;

    display: flex;
    justify-content: space-between;
    align-items: center;
}
.boton-descarga{
    height: 90%;
    background-color: #E0F0FF;
    border-radius: 10px;
    color: #0053B1;
    font-weight: bold;
    border: none;
    text-decoration: none;
    font-size: 18px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    margin-left: 20px;

    flex: 1;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.boton-descarga:hover{
    background-color: rgb(138, 184, 231, 1);
}
.csv-link{
    text-decoration: none;
}
.boton-fecha{
    background-color: #E0F0FF;
    border-radius: 10px;
    color: black;
    font-weight: bold;
    border: none;
    flex: 2;
    height: 100%;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);

    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

@media (max-width: 1024px) {
    .container-fecha-dentro {
        width: 100%;

        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .container-fecha{
        margin-top: 0px;
    }
}
@media (max-width: 600px) {
    .dashboard-titulo{
        margin-top: 30px;
    }
}