.fondo-dashboard{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}
.dashboard-titulo{
    font-size: 40px;
    color: white;
    font-weight: bold;
}
.container-dashboard{
    width: 100%;
    height: 100%;
    padding: 5%;
    background: linear-gradient(#0053B1, #52BEDA);
}
.container-fecha{
    width: 100%;
    height: 4%;
    flex-wrap: wrap;
    display: flex;
    justify-content: flex-end;
}
.container-fecha-dentro{
    display: flex;
    width: 30%;
    justify-content: space-between;
    align-items: center;
}
.boton-descarga{
    background-color: #E0F0FF;
    border-radius: 10px;
    color: #0053B1;
    font-weight: bold;
    border: none;
    flex: 1;
    height: 90%;
    font-size: 18px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);

    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.boton-fecha{
    background-color: #E0F0FF;
    border-radius: 10px;
    color: black;
    font-weight: bold;
    border: none;
    flex: 2;
    height: 90%;
    margin-right: 20px;

    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
@media (max-width: 680px) {
    .container-fecha-dentro {
        display: flex;
        width: 100%;
        justify-content: space-between;
        align-items: center;
    }
}