*:root{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: crossten;
  }
  html,body{
    margin: 0;
    padding: 0;
  }
  @font-face {
    font-family: crossten;
    src: url('../public/crossten_extralight.ttf');
  }