.modalDialog {
	position: fixed;
	font-family: Arial, Helvetica, sans-serif;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(0,0,0,0.8);
	z-index: 99999;
	opacity:0;
	pointer-events: none;
}
.modalAgregar{
	text-decoration: none;
    color: #0053B1;
}
.modalDialog:target {
	opacity:1;
	pointer-events: auto;
}
.modalDialog > div {
	width: 400px;
	position: relative;
	margin: 10% auto;
	padding: 5px 20px 13px 20px;
	border-radius: 10px;
	background: #fff;
}
.close {
	background: #4177B6;
	color: #FFFFFF;
	line-height: 25px;
	position: absolute;
	right: -12px;
	text-align: center;
	top: -10px;
	width: 24px;
	text-decoration: none;
	font-weight: bold;
	border-radius: 12px;
}
.container-modal-div{
    width: 100%;
    background-color: white;
    text-align: start;
    color: black;
    font-weight: bold;

}
.texto-modal-sub{
    color: #636363;
    font-weight: 100;
}
.div-boton-modal{
	width: 100%;
    display: flex;
    justify-content: flex-end;
}
.boton-descargar{
    width: 133px;
    height: 50px;
    border-radius: 24.83px;
    background-color: #4177B6;
    border: none;
    color: #FFFFFF;
    font-weight: bold;
}