.tarjetaleaderboard{
    padding: 0px;
    
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.foto-nombre{
    width: 100%;
    padding: 10px;
    display: flex;
    justify-content: space-between;
}