.tarjeta-dashboard{
    background-color: #F6BA27;
    width: 20%;
    border-radius: 10px;
    border: none;
    color: white;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    padding-left: 15px;
}